body {
  background-color: wheat;
}

section {
  box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.3);
}

.P-center {
  display: flex;
  justify-content: space-around;
  box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.3);
}
td {
  border: solid;
}
